@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url('./assets/background-image.png');
  background-repeat: repeat-y;
  background-size: contain;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1{
  color: #ed5564;
  font-size: 3rem;
  width: 16%;
  font-style: italic;
  box-shadow: inset #eee9e9 0px 0px 20px 2px;
  border-radius: 10px;
}

.App-logo{
  width: 5%;
  height: auto;
  animation: App-logo-spin infinite 20s linear;
  margin-left: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#bandejaDeEntrada {
  display: flex;
  border: 2px solid black;
  border-radius: 12px;
  background-color: #ff827a;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

#buscarPokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40px;
  padding: 10px 20px;
}

#buscarPokemon input {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.4rem;
  outline: none;
  border: 1.5px solid lightgrey;
  border-radius: 4px;
  cursor: pointer;
  width: 65%;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  box-sizing: border-box;
}

#buscarPokemon input:hover{
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 20px -17px;
}

#buscarPokemon input:active {
  transform: scale(0.95);
}

#buscarPokemon button {
  margin-left: 20px;
  height: 35px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 8px;
  background-color: white;
  color: #ed5564;
  border: solid 2px;
}

#buscarPokemon button:hover {
  cursor: pointer;
  background-color: #ed5564;
  color: white;
}

#listadoCategorias {
  width: 35%;
  flex-direction: column;
  overflow-y: scroll;
  border-right: 2px solid lightgrey;
  align-items: flex-start;
  text-align: left;
}

#listadoCategorias div {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid lightgrey;
}

#listadoCategorias div:hover {
  cursor: pointer;
  background-color: lightpink;
  border-radius: 12px;
}

#vistaCategoria {
  width: 65%;
  text-align: left;
  padding: 1rem;
}